<h1>
    Add Or Update Item
</h1>

<br><br><br><br><br><br>

<form action="" method="post">
    <input type="text" name="product_name" placeholder="Specify the item name" required>
    <input type="number" step=0.01 min="0.01" name="product_price" placeholder="Specify the item price" required>

    <input type="submit" name="submit" value="Purchase"/>
</form>